finalized-datatable {
    table.dataTable {
        table.recon-detail {
            width: 100%;
            
            border: dashed 1px;
            border-collapse: initial;
            thead tr:hover, tbody tr:hover {
                background-color: $body-bg;
            }
        }
        tr.details + tr:hover {
             background-color: $body-bg;
        }
    }
}
