.btn.btn-action {
    background: $brand-primary;
    border-color: lighten($brand-primary, 10%);
    color: $text-color-inverted;
    &:hover {
        background: $brand-primary-darker;
        border-color: lighten($brand-primary-darker, 50%);
        color: $text-color-inverted;
    }
}

.btn-group{
    margin: .2em;
}

.btn {
    background-image: none !important;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    margin-right: 4px;
    margin-left: 4px;
}

    .btn.btn-notext > i {
            margin-right: 0;
        }
.btn.btn-form-md {
    margin: 0 .5em .2em .5em;
    width: 9em;
}
    .btn.btn-mini {
        font-size: 11px !important;
    }

.btn-danger {
    background-color: $brand-danger !important;
    border-color: $brand-tertiary-darker !important;
    &:hover {
        background-color: $brand-tertiary-darker !important;
        border-color: $brand-danger !important;
    }
}
