<div class="panel-body dissolve-animation" ng-show="vm.isVisible">
    <div class="panel-heading job-details-header text-left header " ng-click="vm.isCollapsed = !vm.isCollapsed">
        <span>{{ vm.sectionLabel }}</span><span class="pull-right badge">{{vm.recordCount}}</span>
    </div>
    <div class="panel-body" uib-collapse="vm.isCollapsed">
        <spinner name="available-datatable_spinner" class="text-center" show="vm.isLoading" img-src="{{vm.imageSrc + '/loading-gears-lg.gif'}}"></spinner>
        <div class="row" ng-show="!vm.isLoading">
            <div class="col-xs-12 arm-datatable-font-medium">
                <table id="dtAvailable" datatable dt-options="vm.options" dt-columns="vm.columns" dt-instance="vm.instance" ng-class="{'fixed-table': !vm.isLoading}" class="cell-border row-border stripe hover order-column"></table>
            </div>
        </div>
        <br />
        <input type="button" class="btn btn-primary pull-right" value="{{vm.buttonLabel}}" ng-show="vm.isVisible && !vm.isLoading" ng-click="vm.finish()" ng-disabled="vm.getSelectedIds().length===0" />
    </div>
</div>